/* 
HEX (hexadecimal) letters a-f numbers 0-9 values
123456789 A(10) B(11) C(12) D(13) E(14) F(15)
#FF0000 - RED
##00FF00 - GREEN
 */
 #first{
    color: #ff0000;
    background: #000000; /* #000 = #000000, #fff = #ffffff */
}
#second{
    color: #00ff00;
    background: #fff;
}
#third{
    color: #0000ff;
    background: #f15025;
}
#fourth{
    color: #f234ad;
    background: #222;
}

/* Hovering over the color box in VS code allows to change the color while seeing what it looks like */